## Acquisition methods

In [7]:
import pandas as pd
import numpy as np

In [10]:
def acquisition(path_file):
    dataframe = pd.read_csv(path_file, low_memory=False)
    return dataframe

In [11]:
var = acquisition("../../datasets/vehicles.csv")
var

,barrels08,barrelsA08,charge120,charge240,city08,city08U,cityA08,cityA08U,cityCD,cityE,...,mfrCode,c240Dscr,charge240b,c240bDscr,createdOn,modifiedOn,startStop,phevCity,phevHwy,phevComb
0,15.695714,0.000000,0.0,0.0,19,0.0000,0,0.0000,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0.0,0.0,0.0
1,29.964545,0.000000,0.0,0.0,9,0.0000,0,0.0000,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0.0,0.0,0.0
2,12.207778,0.000000,0.0,0.0,23,0.0000,0,0.0000,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0.0,0.0,0.0
3,29.964545,0.000000,0.0,0.0,10,0.0000,0,0.0000,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0.0,0.0,0.0
4,17.347895,0.000000,0.0,0.0,17,0.0000,0,0.0000,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25474,11.365862,0.000000,0.0,0.0,27,26.8238,0,0.0000,0.0,0.0,...,NSX,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,N,0.0,0.0,0.0
25475,14.330870,0.000000,0.0,0.0,21,0.0000,0,0.0000,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0.0,0.0,0.0
25476,12.207778,0.000000,0.0,0.0,25,24.9068,0,0.0000,0.0,0.0,...,NSX,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,N,0.0,0.0,0.0
25477,12.207778,0.000000,0.0,0.0,25,25.2640,0,0.0000,0.0,0.0,...,NSX,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,N,0.0,0.0,0.0
25478,19.388824,5.762308,0.0,0.0,15,14.9543,11,11.0646,0.0,0.0,...,FMX,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00,NaN,NaN,NaN,NaN