# EXTRA: Data Aggregation Constructor

In [1]:
import pandas as pd

In [2]:
%%time

df = pd.read_csv('./datasets/2021T2-SER-uso-parquimetros.csv', sep=';')

Wall time: 27.6 s

In [3]:
df.head()

,matricula_parquimetro,fecha_operacion,fecha_inicio,fecha_fin,cod_distrito,distrito,cod_barrio,barrio,tipo_zona,distintivo,minutos_tique,importe_tique
0,205310544,2021-06-07 12:02:28,2021-06-07 12:02:28,2021-06-07 13:22:28,5,CHAMARTIN,3,CIUDAD JARDÍN,AZUL,B,80,"1,50"
1,205110427,2021-05-29 09:38:58,2021-05-29 09:38:58,2021-05-29 13:28:58,5,CHAMARTIN,1,EL VISO,AZUL,C,230,"6,95"
2,107630067,2021-04-13 11:50:28,2021-04-13 11:50:28,2021-04-13 12:20:28,7,CHAMBERI,6,VALLEHERMOSO,VERDE,INFORMACION NO DISPONIBLE,30,"0,90"
3,109330974,2021-05-31 16:48:49,2021-05-31 16:48:49,2021-05-31 17:04:49,9,MONCLOA,3,CIUDAD UNIVERSITARIA,VERDE,B,16,"0,40"
4,703430023,2021-05-08 14:09:56,2021-05-08 14:09:56,2021-05-08 14:55:56,3,RETIRO,4,IBIZA,VERDE,B,46,"1,50"

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11328103 entries, 0 to 11328102
Data columns (total 12 columns):
 #   Column                 Dtype
---  ------                 -----
 0   matricula_parquimetro  object
 1   fecha_operacion        object
 2   fecha_inicio           object
 3   fecha_fin              object
 4   cod_distrito           int64
 5   distrito               object
 6   cod_barrio             int64
 7   barrio                 object
 8   tipo_zona              object
 9   distintivo             object
 10  minutos_tique          int64
 11  importe_tique          object
dtypes: int64(3), object(9)
memory usage: 1.0+ GB

In [5]:
df.isnull().sum()

matricula_parquimetro    0
fecha_operacion          0
fecha_inicio             0
fecha_fin                0
cod_distrito             0
distrito                 0
cod_barrio               0
barrio                   0
tipo_zona                0
distintivo               0
minutos_tique            0
importe_tique            0
dtype: int64

In [6]:
df['importe_tique'] = df['importe_tique'].str.replace(',', '.').astype('float64')

In [7]:
df_distritos = df[['cod_distrito', 'distrito']].drop_duplicates().sort_values(by='cod_distrito').reset_index(drop=True)
df_distritos.head()

   cod_distrito    distrito
0             1      CENTRO
1             2  ARGANZUELA
2             3      RETIRO
3             4   SALAMANCA
4             5   CHAMARTIN

In [8]:
df_barrios = df[['cod_distrito', 'cod_barrio', 'barrio']].drop_duplicates()\
.sort_values(by=['cod_distrito', 'cod_barrio']).reset_index(drop=True)
df_barrios.head()

   cod_distrito  cod_barrio       barrio
0             1           1      PALACIO
1             1           2  EMBAJADORES
2             1           3       CORTES
3             1           4     JUSTICIA
4             1           5  UNIVERSIDAD

In [9]:
drop_cols = ['distrito', 'barrio']
df_small = df.drop(drop_cols, axis=1)
df_small.head()

,matricula_parquimetro,fecha_operacion,fecha_inicio,fecha_fin,cod_distrito,cod_barrio,tipo_zona,distintivo,minutos_tique,importe_tique
0,205310544,2021-06-07 12:02:28,2021-06-07 12:02:28,2021-06-07 13:22:28,5,3,AZUL,B,80,1.50
1,205110427,2021-05-29 09:38:58,2021-05-29 09:38:58,2021-05-29 13:28:58,5,1,AZUL,C,230,6.95
2,107630067,2021-04-13 11:50:28,2021-04-13 11:50:28,2021-04-13 12:20:28,7,6,VERDE,INFORMACION NO DISPONIBLE,30,0.90
3,109330974,2021-05-31 16:48:49,2021-05-31 16:48:49,2021-05-31 17:04:49,9,3,VERDE,B,16,0.40
4,703430023,2021-05-08 14:09:56,2021-05-08 14:09:56,2021-05-08 14:55:56,3,4,VERDE,B,46,1.50

In [10]:
df_barrios.to_csv('./datasets/barrios.csv', sep='\t', index=False)

In [11]:
df_distritos.to_csv('./datasets/distritos.csv', sep='\t', index=False)

In [12]:
%%time

df_small.to_csv('./datasets/tickets_parking.csv', index=False)

Wall time: 42.3 s

In [13]:
%%time

df_small.to_parquet('./datasets/tickets_parking.parquet')

Wall time: 10.7 s

---