# Data Aggregation

`.groupby()`, `.agg()`

KPI Library: https://bernardmarr.com/kpi-library/

In [1]:
import numpy as np
import pandas as pd

__As always we explore our dataset__

[Original dataset](https://datos.madrid.es/portal/site/egob/menuitem.c05c1f754a33a9fbe4b2e4b284f1a5a0/?vgnextoid=67663c0a55e16710VgnVCM1000001d4a900aRCRD&vgnextchannel=374512b9ace9f310VgnVCM100000171f5a0aRCRD&vgnextfmt=default)

In [2]:
%%time

parking = pd.read_parquet('C:/Users/AlvaroSaez/Desktop/tickets_parking.parquet')
distritos = pd.read_csv('./datasets/distritos.csv', sep='\t')
barrios = pd.read_csv('./datasets/barrios.csv', sep='\t')

Wall time: 20 s

In [5]:
print(parking.info())
parking.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11328103 entries, 0 to 11328102
Data columns (total 10 columns):
 #   Column                 Dtype
---  ------                 -----
 0   matricula_parquimetro  object
 1   fecha_operacion        object
 2   fecha_inicio           object
 3   fecha_fin              object
 4   cod_distrito           int64
 5   cod_barrio             int64
 6   tipo_zona              object
 7   distintivo             object
 8   minutos_tique          int64
 9   importe_tique          float64
dtypes: float64(1), int64(3), object(6)
memory usage: 864.3+ MB
None

,matricula_parquimetro,fecha_operacion,fecha_inicio,fecha_fin,cod_distrito,cod_barrio,tipo_zona,distintivo,minutos_tique,importe_tique
0,205310544,2021-06-07 12:02:28,2021-06-07 12:02:28,2021-06-07 13:22:28,5,3,AZUL,B,80,1.50
1,205110427,2021-05-29 09:38:58,2021-05-29 09:38:58,2021-05-29 13:28:58,5,1,AZUL,C,230,6.95
2,107630067,2021-04-13 11:50:28,2021-04-13 11:50:28,2021-04-13 12:20:28,7,6,VERDE,INFORMACION NO DISPONIBLE,30,0.90
3,109330974,2021-05-31 16:48:49,2021-05-31 16:48:49,2021-05-31 17:04:49,9,3,VERDE,B,16,0.40
4,703430023,2021-05-08 14:09:56,2021-05-08 14:09:56,2021-05-08 14:55:56,3,4,VERDE,B,46,1.50

In [6]:
print(distritos.info())
distritos.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9 entries, 0 to 8
Data columns (total 2 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   cod_distrito  9 non-null      int64
 1   distrito      9 non-null      object
dtypes: int64(1), object(1)
memory usage: 272.0+ bytes
None

   cod_distrito    distrito
0             1      CENTRO
1             2  ARGANZUELA
2             3      RETIRO
3             4   SALAMANCA
4             5   CHAMARTIN

In [7]:
print(barrios.info())
barrios.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49 entries, 0 to 48
Data columns (total 3 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   cod_distrito  49 non-null     int64
 1   cod_barrio    49 non-null     int64
 2   barrio        49 non-null     object
dtypes: int64(2), object(1)
memory usage: 1.3+ KB
None

   cod_distrito  cod_barrio       barrio
0             1           1      PALACIO
1             1           2  EMBAJADORES
2             1           3       CORTES
3             1           4     JUSTICIA
4             1           5  UNIVERSIDAD

In [8]:
parking.isnull().sum()

matricula_parquimetro    0
fecha_operacion          0
fecha_inicio             0
fecha_fin                0
cod_distrito             0
cod_barrio               0
tipo_zona                0
distintivo               0
minutos_tique            0
importe_tique            0
dtype: int64

__Time span__

In [9]:
parking['fecha_operacion'] = pd.to_datetime(parking['fecha_operacion'], format="%Y-%m-%d %H:%M:%S")
parking.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11328103 entries, 0 to 11328102
Data columns (total 10 columns):
 #   Column                 Dtype
---  ------                 -----
 0   matricula_parquimetro  object
 1   fecha_operacion        datetime64[ns]
 2   fecha_inicio           object
 3   fecha_fin              object
 4   cod_distrito           int64
 5   cod_barrio             int64
 6   tipo_zona              object
 7   distintivo             object
 8   minutos_tique          int64
 9   importe_tique          float64
dtypes: datetime64[ns](1), float64(1), int64(3), object(5)
memory usage: 864.3+ MB

In [10]:
#ahora ya vamos a poder hacer el siguiente cálculo gracias a haber transformado el formato a fecha
parking['fecha_operacion'].max() - parking['fecha_operacion'].min()

Timedelta('90 days 23:58:34')

In [11]:
parking['fecha_operacion'].max()

Timestamp('2021-06-30 23:59:47')

In [12]:
parking['fecha_operacion'].min()

Timestamp('2021-04-01 00:01:13')

__Data Manipulation__

In [13]:
%%time

p_distritos = pd.merge(parking, distritos)
p_distritos.head()

Wall time: 12.3 s

,matricula_parquimetro,fecha_operacion,fecha_inicio,fecha_fin,cod_distrito,cod_barrio,tipo_zona,distintivo,minutos_tique,importe_tique,distrito
0,205310544,2021-06-07 12:02:28,2021-06-07 12:02:28,2021-06-07 13:22:28,5,3,AZUL,B,80,1.50,CHAMARTIN
1,205110427,2021-05-29 09:38:58,2021-05-29 09:38:58,2021-05-29 13:28:58,5,1,AZUL,C,230,6.95,CHAMARTIN
2,APP-MOVIL,2021-06-03 15:03:02,2021-06-03 15:03:01,2021-06-03 15:40:01,5,4,AZUL,B,37,0.75,CHAMARTIN
3,APP-MOVIL,2021-05-18 20:14:37,2021-05-18 20:14:37,2021-05-19 09:01:37,5,2,AZUL,C,47,0.70,CHAMARTIN
4,APP-MOVIL,2021-04-20 13:27:14,2021-04-20 13:27:14,2021-04-20 17:27:14,5,4,AZUL,B,240,8.20,CHAMARTIN

In [14]:
p_distritos.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 11328103 entries, 0 to 11328102
Data columns (total 11 columns):
 #   Column                 Dtype
---  ------                 -----
 0   matricula_parquimetro  object
 1   fecha_operacion        datetime64[ns]
 2   fecha_inicio           object
 3   fecha_fin              object
 4   cod_distrito           int64
 5   cod_barrio             int64
 6   tipo_zona              object
 7   distintivo             object
 8   minutos_tique          int64
 9   importe_tique          float64
 10  distrito               object
dtypes: datetime64[ns](1), float64(1), int64(3), object(6)
memory usage: 1.0+ GB

In [15]:
#vamos a comprobar si se han aplicado bien los distritos
just_checking = p_distritos[p_distritos['cod_distrito'].isin([4])]#['distrito']
just_checking

,matricula_parquimetro,fecha_operacion,fecha_inicio,fecha_fin,cod_distrito,cod_barrio,tipo_zona,distintivo,minutos_tique,importe_tique,distrito
8123526,204530211,2021-06-17 19:15:08,2021-06-17 19:15:08,2021-06-17 20:42:08,4,5,VERDE,B,87,3.00,SALAMANCA
8123527,704130016,2021-06-02 10:49:12,2021-06-02 10:49:12,2021-06-02 11:24:12,4,1,VERDE,C,35,1.00,SALAMANCA
8123528,204410132,2021-06-14 20:11:43,2021-06-14 20:11:43,2021-06-15 09:00:43,4,4,VERDE,C,50,1.50,SALAMANCA
8123529,APP-MOVIL,2021-06-07 09:29:48,2021-06-07 09:29:00,2021-06-07 11:35:00,4,4,AZUL,C,126,2.65,SALAMANCA
8123530,APP-MOVIL,2021-06-07 13:10:15,2021-06-07 13:10:00,2021-06-07 17:07:00,4,6,AZUL,B,237,8.05,SALAMANCA
...,...,...,...,...,...,...,...,...,...,...,...
9797519,APP-MOVIL,2021-04-22 13:51:31,2021-04-22 13:51:00,2021-04-22 14:30:00,4,6,VERDE,C,40,1.15,SALAMANCA
9797520,APP-MOVIL,2021-04-23 17:04:44,2021-04-23 17:04:44,2021-04-23 18:11:44,4,1,VERDE,ECO,67,1.15,SALAMANCA
9797521,APP-MOVIL,2021-05-24 17:38:11,2021-05-24 17:38:00,2021-05-24 18:18:00,4,1,AZUL,C,41,0.60,SALAMANCA
9797522,204430158,2021-05-05 19:29:36,2021-05-05 19:29:36,2021-05-05 20:13:36,4,4,VERDE,C,44,1.30,SALAMANCA
9797523,704130015,2021-04-03 10:28:06,2021-04-03 10:28:06,2021-04-03 11:06:06,4,1,VERDE,B,38,1.20,SALAMANCA

In [16]:
#otra foram mejro de verificar
just_checking = p_distritos[p_distritos['cod_distrito'].isin([4])]['distrito']
just_checking.unique()
#--> vemos que el valor único para el distritp 4 es salamanca ¡ESTÁ BIEN!

array(['SALAMANCA'], dtype=object)

---

## The `df.groupby()` object

In [17]:
%%time

groupby_object = p_distritos.groupby(['distrito'])
groupby_object
#necesita aplicarse un method para obtener resultados

Wall time: 2.99 ms

## The `.agg()` method

In [18]:
%%time
#al objeto groupby anterior le palicamos el method .sum()
total_distritos = groupby_object[['minutos_tique', 'importe_tique']]\
                  .sum().sort_values(by='importe_tique', ascending=False).reset_index()
total_distritos

Wall time: 914 ms

     distrito  minutos_tique  importe_tique
0   CHAMARTIN      165656931     3388531.35
1    CHAMBERI      118055469     2445778.20
2   SALAMANCA      110485248     2327083.90
3      RETIRO       88681385     1871270.25
4      TETUAN       85979598     1708664.30
5  ARGANZUELA       85946844     1686112.80
6     MONCLOA       65506750      963914.80
7  FUENCARRAL       32840874      566395.05
8      CENTRO       28905504      332084.35

In [19]:
media_distritos = p_distritos.groupby(['distrito'])[['minutos_tique', 'importe_tique']]\
                  .mean().sort_values(by='importe_tique', ascending=False).reset_index()
media_distritos

     distrito  minutos_tique  importe_tique
0    CHAMBERI      70.326578       1.456969
1     MONCLOA      97.403172       1.433262
2      RETIRO      66.536256       1.403985
3   SALAMANCA      66.000824       1.390135
4  ARGANZUELA      68.599039       1.345782
5   CHAMARTIN      63.834852       1.305749
6      TETUAN      64.466777       1.281142
7      CENTRO     104.091958       1.195873
8  FUENCARRAL      64.305482       1.109054

In [20]:
stats_distritos = p_distritos.groupby(['distrito'])[['minutos_tique', 'importe_tique']]\
                  .agg(['min', 'max', 'mean', 'median', 'std'])\
                  .sort_values(by=('importe_tique', 'median'), ascending=False)
stats_distritos

           minutos_tique                                       importe_tique  \
                     min    max        mean median         std           min
distrito
CHAMBERI               0    480   70.326578   58.0   64.826176          0.00
ARGANZUELA             0    480   68.599039   56.0   63.364446          0.00
CHAMARTIN              1    480   63.834852   50.0   60.147019         -0.70
MONCLOA                0  66627   97.403172   60.0  135.933222          0.00
RETIRO                 0  66615   66.536256   56.0  101.337261         -0.15
SALAMANCA              0    480   66.000824   51.0   63.837537         -0.05
TETUAN                 0    480   64.466777   49.0   62.305050          0.00
CENTRO                 0    720  104.091958   60.0  117.824642          0.00
FUENCARRAL             1    480   64.305482   46.0   64.940313          0.00


            max      mean median       std
distrito
CHAMBERI    8.2  1.456969   1.05  1.387285
ARGANZUELA  8.2  1.345782   1.00  1.349291
CHAMARTIN   8.2  1.305749   1.00  1.305964
MONCLOA     8.2  1.433262   1.00  1.331160
RETIRO      8.2  1.403985   1.00  1.333520
SALAMANCA   8.2  1.390135   1.00  1.296869
TETUAN      8.2  1.281142   1.00  1.283871
CENTRO      6.0  1.195873   0.95  1.165096
FUENCARRAL  8.2  1.109054   0.80  1.067505

In [21]:
stats_distritos.index

Index(['CHAMBERI', 'ARGANZUELA', 'CHAMARTIN', 'MONCLOA', 'RETIRO', 'SALAMANCA',
       'TETUAN', 'CENTRO', 'FUENCARRAL'],
      dtype='object', name='distrito')

In [22]:
stats_distritos.columns

MultiIndex([('minutos_tique',    'min'),
            ('minutos_tique',    'max'),
            ('minutos_tique',   'mean'),
            ('minutos_tique', 'median'),
            ('minutos_tique',    'std'),
            ('importe_tique',    'min'),
            ('importe_tique',    'max'),
            ('importe_tique',   'mean'),
            ('importe_tique', 'median'),
            ('importe_tique',    'std')],
           )

In [23]:
multistats_distritos = p_distritos.groupby(['distrito'])[['minutos_tique', 'importe_tique']]\
                       .agg(mean_importe=('importe_tique', 'mean'),
                            std_importe=('importe_tique', 'std'),
                            median_minutos=('minutos_tique', 'median')).sort_values(by='median_minutos', ascending=False)
multistats_distritos

            mean_importe  std_importe  median_minutos
distrito
CENTRO          1.195873     1.165096            60.0
MONCLOA         1.433262     1.331160            60.0
CHAMBERI        1.456969     1.387285            58.0
ARGANZUELA      1.345782     1.349291            56.0
RETIRO          1.403985     1.333520            56.0
SALAMANCA       1.390135     1.296869            51.0
CHAMARTIN       1.305749     1.305964            50.0
TETUAN          1.281142     1.283871            49.0
FUENCARRAL      1.109054     1.067505            46.0

In [24]:
numpy_distritos = p_distritos.groupby(['distrito'])[['importe_tique']]\
                  .agg(np.ptp).sort_values(by='importe_tique', ascending=False)
numpy_distritos

            importe_tique
distrito
CHAMARTIN            8.90
RETIRO               8.35
SALAMANCA            8.25
ARGANZUELA           8.20
CHAMBERI             8.20
FUENCARRAL           8.20
MONCLOA              8.20
TETUAN               8.20
CENTRO               6.00

In [25]:
def custom(col):
    return f'{round((np.sum(col)*100)/ minutos, 2)} centimos/hora'

In [26]:
#tambien podemos aplicar funciones
minutos = p_distritos['minutos_tique'].sum() / 60
custom_distritos = p_distritos.groupby(['distrito'])[['importe_tique']]\
                   .agg(custom).sort_values(by='importe_tique', ascending=False)
custom_distritos

                  importe_tique
distrito
MONCLOA       7.4 centimos/hora
FUENCARRAL   4.35 centimos/hora
CHAMARTIN    26.0 centimos/hora
CENTRO       2.55 centimos/hora
CHAMBERI    18.76 centimos/hora
SALAMANCA   17.85 centimos/hora
RETIRO      14.36 centimos/hora
TETUAN      13.11 centimos/hora
ARGANZUELA  12.94 centimos/hora

---

### Now your turn to practice performing the same excercise by _'Barrio'_...

![Image](./img/etl_pandas_agg_01.jpg)