# Operators

- __Arithmetic Operators__
    
- __Assignment Operators__
    
- __Comparison Operators__

- __Logical Operators__

- __Identity Operators__

- __Membership Operators__

In [16]:
# Arithmetic Operators

x = 5
y = 2
print(x + y)
#print(x - y)
#print(x * y)
print(x / y)
print(x % y)
print(x ** y)
print(x // y)

7
2.5
1
25
2

In [2]:
# Assignment Operators

x = 5
x

5

In [3]:
x += 3 # x = x + 3
x

8

In [4]:
x -= 3 # x = x - 3
x

5

In [5]:
x *= 3 # x = x * 3
x

15

In [6]:
x /= 3 # x = x / 3
x

5.0

In [17]:
# Comparison Operators
x = 15
y = 16

print(x == y)
print(x != y)
print(x < y)
print(x > y)
print(x <= y)
print(x >= y)

False
True
True
False
True
False

In [18]:
# Logical Operators (and, or, not)
x = 6
if x < 5 and x < 10:
    print('True')
else:
    print('False')
    

if not(x < 5 and x < 10):
    print('True')
else:
    print('False')

False
True

In [9]:
# Identity Operators and Membership Operators

var1 = 'ironhack'
var2 = 'data'

var1 is var2
#var2 in var1

False

# Control Flow

- __if__
    
- __elif__
    
- __else__

- __for__

- __while__

In [10]:
# if, elif, else

price = float(input("Enter a price: "))
quantity = int(input("Enter a quantity: "))
amount = price*quantity

if amount > 100:
    if amount > 500:
        print("Amount is greater than 500")
    else:
        if amount < 500 and amount > 400:
            print("Amount is")
        elif amount < 500 and amount > 300:
            print("Amount is between 300 and 500")
        else:
            print("Amount is between 200 and 500")
elif amount == 100:
    print("Amount is 100")
else:
    print("Amount is less than 100")

Enter a price: 80
Enter a quantity: 5
Amount is between 300 and 500

In [11]:
# for loop

rows = 5
# outer loop
for i in range(rows):
    # inner loop
    for j in range(i + 1):
        print("*", end=" ")
    print('')

*
* *
* * *
* * * *
* * * * *

In [20]:
# while loop

names = ['Adja', 'Pablo', 'Octavio', 'Victor']
# outer loop
for name in names:
    # inner while loop
    count = 0
    while count < 5:
        print(name, end=' ')
        # increment counter
        count += 1
    print()

Adja Adja Adja Adja Adja
Pablo Pablo Pablo Pablo Pablo
Octavio Octavio Octavio Octavio Octavio
Victor Victor Victor Victor Victor

In [29]:
# while loop

names = ['Adja', 'Pablo', 'Octavio', 'Victor']
# outer loop
count = 0
while count < 5:
    print(names, end=' ')
    # increment counter
    count += 1
print()

['Adja', 'Pablo', 'Octavio', 'Victor'] ['Adja', 'Pablo', 'Octavio', 'Victor'] ['Adja', 'Pablo', 'Octavio', 'Victor'] ['Adja', 'Pablo', 'Octavio', 'Victor'] ['Adja', 'Pablo', 'Octavio', 'Victor']

In [28]:
# break

for i in range(4):
    
    for j in range(4):
        if j == i:
            break
        print(i, j)

1 0
2 0
2 1
3 0
3 1
3 2

In [30]:
# continue

first = [2, 4, 6]
second = [2, 4, 6]
for i in first:
    for j in second:
        if i == j:
            continue
        print(i, '*', j, '= ', i * j)

2 * 4 =  8
2 * 6 =  12
4 * 2 =  8
4 * 6 =  24
6 * 2 =  12
6 * 4 =  24