# Data Types

- __String__
    
- __Integer__
    
- __Float__

- __Boolean__

In [7]:
# String

var = 'ironhack'
#var = str(1)
var = var[:4]

print(var)
print(type(var))

iron
<class 'str'>

In [2]:
# integer and float

x = 10
y = 2
z = x / y
i = int(z)
f = float(i)

print(type(x))
print(type(y))
print(type(z))
print(type(i))
print(type(f))

<class 'int'>
<class 'int'>
<class 'float'>
<class 'int'>
<class 'float'>

In [13]:
#bvar = True
#bvar = bool()
bvar = bool(1)
#bvar = bool(0)
#bvar = bool('1')
bvar = bool('0')
#bvar = bool('0') * 8

print(bvar)
print(type(bvar))

True
<class 'bool'>

# Data Structures

- __Tuple__
    
- __List__
    
- __Dict__

- __Set__

In [15]:
# Tuples are immutables

my_tuple = (1, '1', True, ['dog', 'cat'])

print(type(my_tuple))
#print(my_tuple[2])
#print(type(my_tuple[3]))
#print(my_tuple.count(0))
#print(my_tuple.index(1))

<class 'tuple'>

In [16]:
# lists or arrays

my_array = [1, '1', True, ('dog', 'cat')]

print(type(my_array))
print(my_array[2])
print(type(my_array[3]))
print(my_array.count(0))
print(my_array.index(1))

<class 'list'>
True
<class 'tuple'>
0
0

In [40]:
my_array = ['1', 'dog','dog', 'cat']

my_array.count('dog')

2

In [43]:
# lists mutation methods

my_array = ['1', 'dog', 'cat']

my_array.append(['platypus', 'tardigrade'])
print(my_array)
my_array.extend(['platypus', 'tardigrade'])
print(my_array)
my_array.insert(1,'platypus')
print(my_array)
my_array.pop(1)
print(my_array)
my_array.remove("dog")
print(my_array)
my_array.reverse()
print(my_array)
#my_array.sort()
#my_array.clear()
my_list = my_array.copy()

['1', 'dog', 'cat', ['platypus', 'tardigrade']]
['1', 'dog', 'cat', ['platypus', 'tardigrade'], 'platypus', 'tardigrade']
['1', 'platypus', 'dog', 'cat', ['platypus', 'tardigrade'], 'platypus', 'tardigrade']
['1', 'dog', 'cat', ['platypus', 'tardigrade'], 'platypus', 'tardigrade']
['1', 'cat', ['platypus', 'tardigrade'], 'platypus', 'tardigrade']
['tardigrade', 'platypus', ['platypus', 'tardigrade'], 'cat', '1']

In [ ]:
# Dicts

my_dict = {'key1': 'value', 'key2': 1981, 'key3': ['platypus', 'tardigrade']}

#print(my_dict['key1'])
#my_dict['key1'] = 'ironhack'

print(len(my_dict))
print(my_dict.keys())
print(my_dict.values())
my_dict

In [ ]:
for i in my_dict.keys():
     print(i)
        
for i in my_dict.values():
    print(i)
    
for k, v in my_dict.items():
     print(k, v)

In [ ]:
# Sets

girl_names = set(['Mary', 'Madison', 'Logan', 'Joanna', 'Madison', 'Logan', 'Joanna'])
boy_names = set(['John', 'Alexander', 'Logan', 'Madison', 'Alexander', 'Logan'])
print(girl_names)
print(boy_names)

In [ ]:
# Sets intersection
unisex_names = girl_names.intersection(boy_names)
print(unisex_names)

In [ ]:
# Sets union
all_names = boy_names.union(girl_names)
print(all_names)

In [ ]:
# Sets filtering
boy_only_names = boy_names - girl_names
print(boy_only_names)