# Programming Paradigms
---

> ### Procedural

- Write sequential series of execution steps/tasks

- "Top to bottom" code execution

> ### Functional

- Organize code in functions with clearly defined tasks

- Pass data around via parameters

> ### Object-oriented*

- Organize data and logic in objects (properties and methods)

- Organize code in logical entities

---

In [1]:
# Data

female_students = ['anDrea', 'IreNE', 'IZAS', 'MaLVa', 'silvia', 'SONia']

male_students = ['AlBERTO' , 'AlvarO', 'DaRIo', 'GERVAsio', 'GoN', 'IVAN', 'Jorge', 'MereLLo', 
                 'Mesas', 'MohaMED Salah', ' Montes ', 'Nels0n', 'Pablo A Secas', 'SantiAGO', 'joSete', 'TONi']

In [2]:
# Procedural

new_value = input('Please, enter a new value: ') 
female_students[0] = new_value

female_students[1] = female_students[1].capitalize()

female_students[2] = 'Izaskun'

new_value = input('Please, enter a new value: ') 

female_students[3] = new_value
female_students[4] = female_students[4].capitalize()

female_students[5] = 'Sonia'

print(female_students)

Please, enter a new value: Andrea
Please, enter a new value: Malva
['Andrea', 'Irene', 'Izaskun', 'Malva', 'Silvia', 'Sonia']

In [4]:
# Functional
female_students = ['anDrea', 'IreNE', 'IZAS', 'MaLVa', 'silvia', 'SONia']

male_students = ['AlBERTO' , 'AlvarO', 'DaRIo', 'GERVAsio', 'GoN', 'IVAN', 'Jorge', 'MereLLo', 
                 'Mesas', 'MohaMED Salah', ' Montes ', 'Nels0n', 'Pablo A Secas', 'SantiAGO', 'joSete', 'TONi']

def replace_value(item_list, item_pos):
    new_value = input('Please, enter a new value: ')
    item_list[item_pos] = new_value
    return f'You have changed the item at the position {item_pos} of the list'

In [5]:
replace_value(female_students, 0)
print(female_students)

Please, enter a new value: xxx
['xxx', 'IreNE', 'IZAS', 'MaLVa', 'silvia', 'SONia']

In [7]:
female_students = ['anDrea', 'IreNE', 'IZAS', 'MaLVa', 'silvia', 'SONia']

male_students = ['AlBERTO' , 'AlvarO', 'DaRIo', 'GERVAsio', 'GoN', 'IVAN', 'Jorge', 'MereLLo', 
                 'Mesas', 'MohaMED Salah', ' Montes ', 'Nels0n', 'Pablo A Secas', 'SantiAGO', 'joSete', 'TONi']

def svenska_namn(item_list, item_pos):
    svenska_namn = item_list[item_pos]
    return f'{svenska_namn}son'

In [8]:
[svenska_namn(female_students, item) for item in range(len(female_students))]

['anDreason', 'IreNEson', 'IZASson', 'MaLVason', 'silviason', 'SONiason']

---

__Some considerations__

In [46]:
# Global vs. Local variables

a = 1

def sum_function_global(b):
    global a   # bad idea...
    a = a + b
    return a

In [47]:
sum_function_global(8)

9

In [38]:
a = 1

def sum_function_local(b):
    c = a + b
    return c

In [39]:
sum_function_local(8)

9

In [17]:
print(c)

NameError: name 'c' is not defined

---

In [53]:
# Mutability

import random

a = []

def append_random(l=[3, 4, 5]):
    print(a)
    random_int = random.randint(1, 20)
    l.append(random_int)
    print(l)
    print('be careful with mutability and default arguments')

In [54]:
append_random()

[]
[3, 4, 5, 20]
be careful with mutability and default arguments

---

In [ ]:
# Undefined arguments (*args)

def name_cleaner(*args):
    return [name.capitalize() for name in args]

In [ ]:
name_cleaner('aDJA', 'PABLO', 'TRump')

In [ ]:
name_lst = ['aDJA', 'PABLO', 'TRump']
name_cleaner(*name_lst)

---

In [66]:
# Undefined arguments with key (**kwargs)

def fullname_cleaner(**kwargs):
    return kwargs

In [67]:
fullname_cleaner(name='Napoleon', surname='Bonaparte')

{'name': 'Napoleon', 'surname': 'Bonaparte'}

In [68]:
fullname_cleaner(names=['Gengis', 'Clint', 'Marlon'], surnames=['Kahn', 'Eastwood', 'Brando'])

{'names': ['Gengis', 'Clint', 'Marlon'],
 'surnames': ['Kahn', 'Eastwood', 'Brando']}

In [69]:
def fullname_cleaner(**kwargs):
    clean_name = kwargs['name'].capitalize()
    clean_surname = kwargs['surname'].capitalize()
    return f'{clean_name} {clean_surname}'

In [70]:
fullname_cleaner(name='dONALD', surname='TRUMP')

'Donald Trump'

---

In [71]:
def name_cleaner(*args, queja):
    return [ x.capitalize()+queja for x in args]

In [72]:
name_cleaner('anDrea', 'IreNE', 'IZAS', 'MaLVa', 'silvia', 'SONia', queja= " ya no puede más")

['Andrea ya no puede más',
 'Irene ya no puede más',
 'Izas ya no puede más',
 'Malva ya no puede más',
 'Silvia ya no puede más',
 'Sonia ya no puede más']

__OOP for the next episode...__